<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Polyhedron Sphere
  body
    #canvas
    #controls
      button#btnMorphDown.btn
      button#btnMorphUp.btn
      button#btnShape.btn 4
      button#btnCentralFace.btn
      button#btnBloom.btn